*.log
*.pot
*.pyc
.svn
.DS_Store
.idea
.settings
.project
.pydevproject
*.sublime-project
*.sublime-workspace
*.orig

*.db
*.db.*

*.egg-info
/venv/
build/
dist/

*.mo
*.lokalize
lokalize-*/
main.lqa
